<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            
    
            <!-- Botones Centrales -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" href="/">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" href="/">Veterinarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" href="/">Precio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" href="/">Contactos</a>
                    </li>
                </ul>
            </div>
    
            <!-- Botón Agendar Cita -->
            <a class="btn btn-info me-auto shadow text-white fw-semibold" href="/login">Iniciar sesion</a>
        </div>
    </nav>
    
</div>

